{{ define "head" }}
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta
		name="htmx-config"
		content='{"responseHandling":[{"code":"204","swap":false},{"code":"[23]..","swap":true},{"code":"404","swap":true},{"code":"[45]..","swap":true,"error":true}]}'
	/>
	<title>{{ .PageTitle }} {{ if .PageTitle }} | {{ end }} Are they up?</title>

	<link rel="icon" href="/static/favicon.ico" />
	<script src="https://unpkg.com/htmx.org@2.0.4" defer></script>
	<link
		href="https://cdn.jsdelivr.net/npm/daisyui@5"
		rel="stylesheet"
		type="text/css"
	/>
	<link
		href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
		rel="stylesheet"
		type="text/css"
	/>
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<link href="/static/styles/globals.css" rel="stylesheet" type="text/css" />
</head>
{{ end }}
