{{ define "navbar" }}
<nav
	class="flex justify-between w-screen sticky z-50 top-0 px-4 lg:px-8 py-1.5 bg-base-100/40 backdrop-blur-sm"
>
	<div class="flex-1">
		<a
			class="text-lg font-semibold tracking-tight flex items-center"
			href="/"
		>
			<img
				src="/static/logo.svg"
				alt="Are they up?"
				class="size-4 mr-2"
			/>
			Are they up?
		</a>
	</div>
	<div
		class="flex gap-4 justify-end items-center text-sm text-base-content/80"
	>
		<a class="hover:text-base-content" href="/docs">API</a>
		<a
			class="hover:text-base-content"
			target="_blank"
			href="https://github.com/novembersoftware/aretheyup"
		>
			GitHub
		</a>
	</div>
</nav>
{{ end }}
